:root {
  --main-border-color: rgb(70, 110, 175);
  --main-txt-color: rgb(185, 202, 229);
}

.kakuro-field {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  margin-top: 10px;
  border: 5px solid black;
}

.cell_empty {
  height: 80px;
  width: 80px;
  background-color: black;
  border: 2px solid var(--main-border-color);
}

.right_sum {
  position: relative;
  color: var(--main-txt-color);
  left: 25%;
  text-align: center;
}

.down_sum {
  position: relative;
  color: var(--main-txt-color);
  right: 25%;
  top: 30%;
  text-align: center;
}

.both_right_sum {
  position: relative;
  color: var(--main-txt-color);
  left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.both_down_sum {
  position: relative;
  color: var(--main-txt-color);
  left: 15px;
  margin-top: 5px;
}

.cell_black {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: black;
  border: 2px solid var(--main-border-color);
}

.cell_black:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 3px solid;
  border-color: var(--main-border-color);
  -webkit-transform:rotate(+45deg);
  -moz-transform:rotate(+45deg);
  -ms-transform:rotate(+45deg);
  -o-transform:rotate(+45deg);
  transform:rotate(+45deg);
}
.cell_white {
  height: 80px;
  width: 80px;
  background-color: white;
  border: 2px solid var(--main-border-color);
}
