@(user: models.User, fieldMap: scala.collection.mutable.Map[String, Int])(implicit messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("home.title"), Some(user)) {
  <div class="container">
      <div class="row justify-content-center">
          <button type="button" class="btn btn-primary" id="initButton">Start Game</button>
          <button type="button" class="btn btn-primary" id="clearButton">Clear Game</button>
      </div>
      <div class="row justify-content-center">
          <div class="col-sm-6">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="">Set: row col value</span>
                  </div>
                  <input type="text" class="form-control" id="row" value="">
                  <input type="text" class="form-control" id="col" value="">
                  <input type="text" class="form-control" id="value" value="">
                  <button type="button" class="btn btn-success" id="setButton">Set</button>
              </div>
          </div>
      </div>
      <br>
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <table class="table table-bordered table-dark">
                  <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">1</th>
                      <th scope="col">2</th>
                      <th scope="col">3</th>
                      <th scope="col">4</th>
                      <th scope="col">5</th>
                      <th scope="col">6</th>
                      <th scope="col">7</th>
                      <th scope="col">8</th>
                  </tr>
                  </thead>
                  <tbody>
                  @for(row <- 0 until 8) {
                      <tr>
                          <th class="align-content-center" scope="row">@(row + 1)</th>
                              <div>
                                  @for(col <- 0 until 8) {
                                      @if(fieldMap.get(row.toString + "." + col.toString).get == 1) {
                                          <td class="align-middle" id="@row.@col"></td>
                                      }
                                      @if(fieldMap.get(row.toString + "." + col.toString).get == 2){
                                          <td class="success" id="@row.@col">
                                              <table class="table-borderless table-sm">
                                                  <tbody>
                                                      <tr id="@row.@col.1">
                                                          <td></td>
                                                          <td id="@row.@col.1.2"></td>
                                                      </tr>
                                                      <tr id="@row.@col.2">
                                                          <td id="@row.@col.2.1"></td>
                                                          <td></td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </td>
                                      }
                                      @if(fieldMap.get(row.toString + "." + col.toString).get == 0){
                                          <td id="@row.@col"></td>
                                      }
                                  }
                              </div>
                      </tr>
                  }
                  </tbody>
              </table>
          </div>
      </div>
      <div class="row justify-content-center">
          <button type="button" class="btn btn-primary" id="undoButton">Undo</button>
          <button type="button" class="btn btn-primary" id="redoButton">Redo</button>
          <button type="button" class="btn btn-primary" id="saveButton">Save</button>
          <button type="button" class="btn btn-primary" id="loadButton">Load</button>
          <button type="button" class="btn btn-primary" id="clearValButton">Clear</button>
          <button type="button" class="btn btn-primary" id="checkButton">Check</button>
      </div>
  </div>
}
